.textInputStyles {
    border: 1px solid var(--color-cream);
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    color: var(--color-dark-grey);
    background-color: var(--color-cream);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}