.submitButtonStyles {
  background-color: var(--color-lime);
  border: 1px solid var(--color-lime);
  border-radius: 4px;
  color: var(--color-dark-green);
  cursor: pointer;
  font-size: 14px;
  font-weight: 550;
  line-height: 36px;
  padding: 0 14px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  width: auto;
  margin-top: 1rem;
}
