.formStyles {
    background-color: var(--color-dark-green);
    color: var(--color-cream);
    /* padding: 10px; */
    margin: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}